<a href="https://colab.research.google.com/github/harujem/dataAnalysis/blob/main/1%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EC%97%B0%EC%82%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.파이썬 자료형과 연산자

## 1.파이썬 자료형 (오류)

In [ ]:
a = 10          # number
b = '파이썬'    # string
print( a + b )

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a = 10          # number
b = '파이썬'    # string
print( a , b )

10 파이썬

1. 파이썬 버전 출력

In [ ]:
!python -V

Python 3.10.12

In [ ]:
import sys
sys.version       # 코랩에서 사용중인 파이썬 버전

'3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]'

In [ ]:
import sys
print('---',sys.version)
sys.version       # 무조건 마지막에 있는 함수는 print를 안써도 보여줌

--- 3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

'3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]'

In [ ]:
# 2. 파이썬 설치 위치
# import sys      # 위에서 한번 실행이 되었으면 임폴트 시스를 다시 입력 안해도 실행이 됨
print(sys.executable)     # 리눅스 계열 content/sample_data (컨텐트 or 홈)

/usr/bin/python3

In [ ]:
# 3. 물리적 폴더 위치
import os
os.getcwd()

'/content'

### [실습문제] 파이썬으로 표현사기 (산술 연산)

In [ ]:
# 문제1: 10 + 3 x 4 결과 출력
print(10 + 3 * 4)

# 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
print (130000 * 15)

iphone = 15
price = 130000
print(iphone*price)

# 문제3: 주어진 임의의 자연수가 홀수인지 짝수인지 판별하는 방법은?
a =  10
b = 9
print( a % 2 - 1)
print('결과가 -1 이면 짝수')
print( b % 2 - 1)
print('결과가 0 이면 홀수')

# print('짝수') if x % 2 == 0 else print('홀수')
x = 10
if x % 2 == 0:
    print('짝수')
else:
    print('홀수')

# 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기
print(2*2*2*5*5*5*5*3*3*3*3)
print(2**3*5**4*3**4)

22
1950000
1950000
-1
결과가 -1 이면 짝수
0
결과가 0 이면 홀수
짝수
405000
405000

### 파이썬 자료형(Data Type) 함수 확인:type()

In [ ]:
print( type(123) )
print( type(3.14) )
print( type("123") )
print( type([123]) )
print( type((123,)) )
print( type({'123':123}) )
print( type({123}) )
print( type(True) )

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>



---

## 2.표준 입출력

### 문자열 데이터를 숫자로 변환하기

In [ ]:
# a = input('숫자를 입력하세요: ')
# print( type(a) )
# a = int(a)      # 정수로 변환하는 함수 int()
# print( type(a) )

In [ ]:
# a = input('숫자를 입력하세요: ')
# a = int(a)

a = int(input('숫자를 입력하세요: '))

숫자를 입력하세요: 7

In [ ]:
# 문자열 포맷팅
a = input('키보드로 입력해주세요. ')
print('변수 a의 값은', a, '입니다.')
print('변수 a의 값은 %s 입니다.' % a)
print(f'변수 a의 값은 {a} 입니다.')

키보드로 입력해주세요. 포도
변수 a의 값은 포도 입니다.
변수 a의 값은 포도 입니다.
변수 a의 값은 포도 입니다.

In [ ]:
num1 = int(input('첫번째 숫자 '))
num2 = int(input('두번째 숫자 '))
print('-' * 30)
print(f'덧셈: {num1} + {num2} = {num1 + num2:}')
print(f'뺄셈: {num1} - {num2} = {num1 - num2:}')
print(f'곱셈: {num1} * {num2} = {num1 * num2:}')
print(f'몫  : {num1} // {num2} = {num1 // num2:}')
print(f'나머지: {num1} % {num2} = {num1 % num2:}')
print('-' * 30)
print(f'덧셈: {num1} + {num2} = {num1 + num2:3}')   # 3자리로 표현해
print(f'뺄셈: {num1} - {num2} = {num1 - num2:<10}') # 10자리 왼쪽정렬
print(f'뺄셈: {num1} - {num2} = {num1 - num2:>10}') # 10자리 오른쪽정렬
print(f'뺄셈: {num1} - {num2} = {num1 - num2:^10}') # 10자리 가운데정렬

첫번째 숫자 3
두번째 숫자 2
------------------------------
덧셈: 3 + 2 =   5
덧셈: 3 + 2 = 5
뺄셈: 3 - 2 = 1
곱셈: 3 * 2 = 6
몫  : 3 // 2 = 1
나머지: 3 % 2 = 1
------------------------------
뺄셈: 3 - 2 = 1
뺄셈: 3 - 2 =          1
뺄셈: 3 - 2 =     1

In [ ]:
val = input('첫번째 숫자: ')
print(f'a의 값은: {val:>10}')  # val 값을 10자리로 오른쪽 정렬
print(f'a의 값은: {val:<10}')  # val 값을 10자리로 왼쪽 정렬
print(f'a의 값은: {val:^10}')  # val 값을 10자리로 가운데 정렬

첫번째 숫자: 2
a의 값은:          2
a의 값은: 2
a의 값은:     2

In [ ]:
velocity = input('속력을 입력해주세요(km/h) : ')
distance = input('거리를 입력해주세요(km) : ')
print('-' * 30)
print(f'속력: {float(velocity)} km/h')
print(f'거리: {float(distance)} km')
print(f'시간: {float(distance) / float(velocity):.1f} h') # 소수점 한자리

속력을 입력해주세요(km/h) : 299
거리를 입력해주세요(km) : 44
------------------------------
속력: 299.0 km/h
거리: 44.0 km
시간: 0.1 h

### 내장된 수학함수

In [ ]:
import math

print(f'원주율: {math.pi}')
print(f'절대값: {abs(-10)}')

원주율: 3.141592653589793
절대값: 10

In [ ]:
import math
# 문제1: 반지름이 4인 원의 넓이 출력
r = 4
pi = math.pi
print(f'원의 넓이: {round(pi * math.pow(r,2), 4)}') # 반올림 round 하여 소수점 4자리까지

# 문제2: 3.14 곱하기 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f'계산결과: {round(pi * 2 / 7)}')

# 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(f'원의 둘레: {2 * pi * r}')

원의 넓이: 50.2655
계산결과: 1
원의 둘레: 25.132741228718345

---
### [실습문제] 숫자 입력받아 계산하기

In [ ]:
a = input('1~9까지의 정수 1개 입력: ')
# print(type(a))
# aa = int(a+a)     # 문자를 int 정수로 변경
# aaa = int(a+a+a)
print( int(a) + int(a+a) + int(a+a+a))

1~9까지의 정수 1개 입력: 7
861

In [ ]:
a = input('1~9까지의 정수 1개 입력: ')
a = int(a)
aa = int(a+a)
aaa = int(a+a+a)
print(a)
print(aa)
print(aaa)
print(a + aa + aaa)

1~9까지의 정수 1개 입력: 7
7
14
21
42

In [ ]:
# eval() : 이벨이란 함수가 문자를 숫자로 인식하여 계산
a = input('1~9까지의 정수 1개 입력: ')
eval('7 + 77 + 777')
calc = f'{a} + {a*2} + {a*3}'
print(f'{calc} = {eval(calc)}')

1~9까지의 정수 1개 입력: 7