<a href="https://colab.research.google.com/github/harujem/dataAnalysis/blob/main/3%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%BB%AC%EB%A0%89%EC%85%98%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. 컬렉션 자료형

## 3-1 리스트

### 리스트 생성

In [3]:
# 빈 리스트 생성
a = []
a = list()
print(type(a))
print(a)

<class 'list'>
[]

In [8]:
# 초기 데이터 넣고 리스트 생성
import math
a = [1,2,3,4,5]
a = [1, 'apple', '딸기', 3.14, math.pi, max({10,20,30})]
b = [1, 2, a, ['사과', '포도'], {'k':'kiwi'}]
print(a)
print(b)

[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '포도'], {'k': 'kiwi'}]

In [16]:
numlist = []
for num in range(1,21,2):   # for 반복문, range(): 정수를 순차로 발생시키는 함수 (1부터 21미만까지 2씩 증가해)
    numlist.append(num)   # 리스트에 데이터 추가
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
print(b)
for i in b:   # for 반복문 (b란 이름의 리스트 안에있는 요소를 하나씩 출력하는 코드)
  print(i)    # 탭키도 문법임 (탭 안하면 프린트가 안됨)

[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 30], ['사과', '포도'], {'k': 'kiwi'}]
1
2
[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
['사과', '포도']
{'k': 'kiwi'}

In [22]:
# 리스트는 인덱스로 요소에 접근할 수 있고 인덱스라는건 슬라이싱도 가능

colors = ['빨강', '주황', '노랑', '초록', '파랑']
print( colors[0] )
print( colors[2:4] )
print( colors[::-1] )   # 거꾸로 정렬

for color in colors:
    print(f"나는 '{color}' 색상을 좋아합니다.")

빨강
['노랑', '초록']
['파랑', '초록', '노랑', '주황', '빨강']
나는 '빨강' 색상을 좋아합니다.
나는 '주황' 색상을 좋아합니다.
나는 '노랑' 색상을 좋아합니다.
나는 '초록' 색상을 좋아합니다.
나는 '파랑' 색상을 좋아합니다.

### 리스트 요소 추가

In [38]:
print(colors)

# 인덱스 2 위치에 '분홍'넣기
colors.insert(2, '분홍')
print(colors)

# 맨 뒤에 추가하기
colors.append('보라')
print(colors)

['빨강', '브', '분홍', '분홍', '라', '운', '스카이', '스카이', '분홍', '분홍', '분홍', '노랑', '초록', '파랑', '보라', '보라', '보라', '보라', '보라']
['빨강', '브', '분홍', '분홍', '분홍', '라', '운', '스카이', '스카이', '분홍', '분홍', '분홍', '노랑', '초록', '파랑', '보라', '보라', '보라', '보라', '보라']
['빨강', '브', '분홍', '분홍', '분홍', '라', '운', '스카이', '스카이', '분홍', '분홍', '분홍', '노랑', '초록', '파랑', '보라', '보라', '보라', '보라', '보라', '보라']

### 리스트 특정 위치의 요소값 변경

In [42]:
colors = ['빨강', '주황', '노랑', '초록', '파랑']

colors[3] = '스카이'
print(colors)
colors[1:3] = '브라운'
print(colors)
colors[1:3] = ['브라운', '남색']
print(colors)
colors[1:4] = '브라운'    # 주의! 인덱스 개수가 다르면 대체가 안되고 없어짐
print(colors)

['빨강', '주황', '노랑', '스카이', '파랑']
['빨강', '브', '라', '운', '스카이', '파랑']
['빨강', '브라운', '남색', '운', '스카이', '파랑']
['빨강', '브', '라', '운', '스카이', '파랑']

### 리스트의 요소 삭제

In [44]:
colors = ['빨강', '주황', '노랑', '초록', '파랑', '노랑']

# 맨 뒤에 있는 것 삭제(꺼내기)
colors.pop()
print(colors)

# 요소값과 일치하는 것 삭제
colors.remove('노랑')
print(colors)

 # 전체 요소 삭제
 colors.clear()
 print(colors)

['빨강', '주황', '노랑', '초록', '파랑']
['빨강', '주황', '초록', '파랑']

### 리스트 자체 삭제

In [51]:
 # del() 구조 자체를 삭제했기 때문에 오류가 남
 del(colors)
 print(colors)

NameError: name 'colors' is not defined

### 2차원/3차원... 리스트 요소 접근

In [54]:
animals = ['사자', '호랑이', '곰',
            ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
           ]
print(animals)
print(animals[1])
print(animals[3])
print(animals[3][1])
print(animals[3][2][1])

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
호랑이
['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
강아지
범고래

### 리스트 길이 (요소의 개수)

In [57]:
animals = ['사자', '호랑이', '곰',
            ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
           ]
print( len(animals) )   # 가장 큰 대괄호의 길이
print( len(animals[3]) )    # 인덱스 3번의 길이
print( len(animals[3][2]) )

4
4
2

### 리스트 함수

In [63]:
colors = ['빨강', '주황', '노랑', '초록', '파랑', '노랑', '검정']
print(colors)

# 리스트 요소 정렬 (순차정렬 : 가나다 순)
colors.sort()
print(colors)

# 리스트 요소 정렬 (역순정렬)
colors.reverse()
print(colors)

# 리스트의 특정 요소 위치 찾기
print(colors.index('빨강'))
# 여러개 있을 경우 맨 앞의 인덱스 나타내기
print(colors.index('노랑'))

# 요소값 개수 세기
print(f"요소값 개수 세기: {colors.count('노랑')}")

# 리스트 정렬해서 새로운 이름으로 저장해서 사용
new = sorted(colors)
print(new)

['빨강', '주황', '노랑', '초록', '파랑', '노랑', '검정']
['검정', '노랑', '노랑', '빨강', '주황', '초록', '파랑']
['파랑', '초록', '주황', '빨강', '노랑', '노랑', '검정']
3
4
요소값 개수 세기: 2
['검정', '노랑', '노랑', '빨강', '주황', '초록', '파랑']

In [65]:
colors = ['빨강', '주황', '노랑']
newColors = ['red', 'orange', 'yellow']
print(colors)
print(newColors)

# 리스트 두개를 붙임
colors.extend(newColors)
print(colors)

['빨강', '주황', '노랑']
['red', 'orange', 'yellow']
['빨강', '주황', '노랑', 'red', 'orange', 'yellow']

In [67]:
colors = ['빨강', '주황', '노랑']
newColors = ['red', 'orange', 'yellow']

# 리스트 두개를 붙임 (더하기 연산자도 가능)
colors += newColors
print(colors)

['빨강', '주황', '노랑', 'red', 'orange', 'yellow']

## 3-2 딕셔너리 (Dictionary)

### 딕셔너리 자료 생성
    
*  Key를 통해서 Value에 접근할수 있다.

In [107]:
# 딕셔너리는 순서가 없어서 인덱스로 접근할 수 없다.
# 키로만 접근해야한다.

dic = dict()    # 빈 딕셔너리 생성
dic = {}        # 빈 딕셔너리 생성
print( type(dic) )

<class 'dict'>

In [75]:
# 딕셔너리는  Key:Value 구조
members = {1:'이승철', 2:'박정현', 'BTS':['진','RM','뷔','지민']}
print(members)
print(members[2])   # 여기서 2는 인덱스가 아닌 키값이다.
print(members['BTS'])
print(members['BTS'][1])
print( len(members) )   # 길이

{1: '이승철', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민']}
박정현
['진', 'RM', '뷔', '지민']
RM
3

In [80]:
members = {1:'이승철', 2:'박정현', 'BTS':['진','RM','뷔','지민']}
for key in members:
    print(key)    # 키만 출력됨
    print(members[key])   # 벨류만 출력
    print(f" Key- {key}, Value- {members[key]} ")

1
이승철
 Key- 1, Value- 이승철
2
박정현
 Key- 2, Value- 박정현
BTS
['진', 'RM', '뷔', '지민']
 Key- BTS, Value- ['진', 'RM', '뷔', '지민']

### 딕셔너리에서 자주 사용하는 함수

In [81]:
members = {1:'이승철', 2:'박정현', 'BTS':['진','RM','뷔','지민']}
print( members.keys() )     # key만 모아둔 것
print( members.values() )   # value 모아둔 것
print( members.items() )    # (key, value) 쌍으로 모아둔 것

dict_keys([1, 2, 'BTS'])
dict_values(['이승철', '박정현', ['진', 'RM', '뷔', '지민']])
dict_items([(1, '이승철'), (2, '박정현'), ('BTS', ['진', 'RM', '뷔', '지민'])])

In [85]:
# for (key, value) in members.items():    # 보통 괄호를 쓰지 않음
for key, value in members.items():
    print(key, value)

for key in members.keys():
    print(key, members[key])

for key in members:
    print(key, members[key])

1 이승철
2 박정현
BTS ['진', 'RM', '뷔', '지민']
1 이승철
2 박정현
BTS ['진', 'RM', '뷔', '지민']
1 이승철
2 박정현
BTS ['진', 'RM', '뷔', '지민']

### 딕셔너리에 요소 추가/수정/삭제

In [91]:
members = {1:'이승철', 2:'박정현', 'BTS':['진','RM','뷔','지민']}
print(members)

# 요소 추가 : 앞에 대괄호 [키] = 뒤에 벨류
members[3] = 'NCT Dream'
members['소속사'] = ['하이브', 'SM기획']
print(members)

# 요소 수정
members[1] = '세븐틴'
print(members)

# 요소 삭제
del(members['소속사'])
print(members)

# 딕셔너리 전체 삭제
del(members)
print(members)

{1: '이승철', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민']}
{1: '이승철', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '세븐틴', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '세븐틴', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream'}

NameError: name 'members' is not defined

## 3-3 튜플 (Tuple)

### 튜플 생성

In [96]:
tup = tuple()   # 빈 튜플 생성
tup = ()        # 빈 튜플 생성
print( type(tup) )

a = [1,2,3,4]
print(a)
print( tuple(a) )   # 리스트를 튜플로 변환 (튜플은 소괄호)

<class 'tuple'>
[1, 2, 3, 4]
(1, 2, 3, 4)

In [98]:
tup = ('사과')    # 여기서 소괄호의 의미는 묶음 (string 문자로 인식)
print( type(tup) )
tup = ('사과',)   # 튜플에서 요소가 하나일때는 반드시 맨뒤에 ,쉼표를 추가해야 함 (그래야 튜플로 이해)
print( type(tup) )

<class 'str'>
<class 'tuple'>

In [100]:
help(tuple)   # 도움말

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
help(list)   # 자료형에 대한 도움말

### 튜플은 변수를 정의할 때 / 함수의 파라미터의 정의에 사용

In [104]:
a, b = 100, 200
a, b = 100, [1,2,3]
print(a)
print(b)

100
[1, 2, 3]

In [106]:
def nSum(a, b):   # parameter 파라미터
    return a + b

nSum(100, 200)    # argument 아규먼트

300

## 3-4 집합 (Set)

### 집합 생성

*   집합은 중복된 데이터는 배제한다.
*   유니크한 데이터만 남는다.
*   순서가 없다.

In [113]:
a = set()   # 빈 집합 생성
print( type(a) )

a = {1,2,3,4,2,2,4}   # 중복된건 배제하고 unique한 데이터만 남는다.
print(a)

<class 'set'>
{1, 2, 3, 4}

In [124]:
a = [1,2,3,4,5,6,7,2,2,2,3,5,8]
print(a)

a = list(set(a))
print(a)

[1, 2, 3, 4, 5, 6, 7, 2, 2, 2, 3, 5, 8]

TypeError: 'list' object is not callable

### 집합에 요소 추가/삭제

In [129]:
S = {1,2,3,'a','b'}
print(S)

# 요소 1개 추가
S.add(4)
print(S)

# 요소 여러개 추가 (apple에서 중복되지 않는 유니크한 것만 들어감)
S.update(['c','d',5])
S.update('apple')
print(S)

# 요소 1개 삭제 (삭제할때는 apple 하나로 인식)
S.discard('a')
print(S)
S.discard('apple')
print(S)
# S.discard('p','d')    # 이렇게 사용할 수 없어서 오류남 그래서 한개씩만 삭제함

# 특정 요소 삭제
S.remove(1)
print(S)

# 임의의 요소 삭제 (뭐가 삭제될지 모름)
S.pop()
print(S)

{1, 2, 3, 'a', 'b'}
{1, 2, 3, 4, 'a', 'b'}
{1, 2, 3, 4, 5, 'b', 'e', 'p', 'l', 'a', 'd', 'c'}
{1, 2, 3, 4, 5, 'b', 'e', 'p', 'l', 'd', 'c'}
{1, 2, 3, 4, 5, 'b', 'e', 'p', 'l', 'd', 'c'}
{2, 3, 4, 5, 'b', 'e', 'p', 'l', 'd', 'c'}
{3, 4, 5, 'b', 'e', 'p', 'l', 'd', 'c'}

In [130]:
# 집합 전체 삭제
del(S)
print(S)

NameError: name 'S' is not defined

### 교집합/합집합/차집합

In [137]:
S1 = {1,2,3,4,5}
S2 = {3,4,5,6,7}
print(S1)
print(S2)

# 교집합
print(S1 & S2)
print(S1.intersection(S2))

# 합집합
print(S1 | S2)
print(S1.union(S2))

# 차집합
print(S1 - S2)
print(S1.difference(S2))
print(S2 - S1)
print(S2.difference(S1))

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}
{6, 7}
{6, 7}

In [142]:
S1 = {1,2,3,4,5}
S2 = {3,4,5,6,7}
S3 = {5,6,7}
print(S1)
print(S2)
print(S3)

# A.intersection_update(B, C) --> 계산 결과를 A로 다시 변경
print( S1.intersection_update(S2, S3) )
print( S1 )

# A.intersection_update(B) --> 계산 결과를 A로 다시 변경
print( S1.intersection_update(S2) )
print( S1 )

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
{5, 6, 7}
None
{5}
None
{5}