<a href="https://colab.research.google.com/github/harujem/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4.조건문과 반복문

---
## **★ 반복문**
---

## 1- 다양한 for 반복문

In [ ]:
# 1.range() 함수 이용: 정수를 차례로 발생시키는 함수
for 변수 in range(0,3,1):     # 0부터 3미만까지 1씩 증가 = 3번 반복
    print(변수)
for i in range(3):         # 3번 반복
    print("for문 반복중")

0
1
2
for문 반복중
for문 반복중
for문 반복중

In [ ]:
# 2. 리스트 이용
a = list(range(10,0,-1))
a = list(range(1,11))
for i in a:
    print(i)            # 세로로
for i in a:
    print(i, end=',')   # 가로로

1
2
3
4
5
6
7
8
9
10
1,2,3,4,5,6,7,8,9,10,

In [ ]:
# 한줄로 표현하는 방법
for i in range(1,101):
    print(i, end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [ ]:
# 10단위로 한줄 표현하는 방법
for i in range(1,101):
    print(i, end=' ')
    if i%10 == 0:
        print()

1 2 3 4 5 6 7 8 9 10
11 12 13 14 15 16 17 18 19 20
21 22 23 24 25 26 27 28 29 30
31 32 33 34 35 36 37 38 39 40
41 42 43 44 45 46 47 48 49 50
51 52 53 54 55 56 57 58 59 60
61 62 63 64 65 66 67 68 69 70
71 72 73 74 75 76 77 78 79 80
81 82 83 84 85 86 87 88 89 90
91 92 93 94 95 96 97 98 99 100

In [ ]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [ ]:
# 4. 변수 사용안하고 반복만 할때
for _ in range(3):
    print('좋은 아침!')

좋은 아침!
좋은 아침!
좋은 아침!

In [ ]:
# 5. enumerate(): 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits = ['사과','포도','딸기','키위']
for idx, fruit in enumerate(fruits):
    print(idx, fruit)

print('-' * 30)
# 아래와 같은 내용을 위와 같이 줄여서 표현 가능
idx = 0
for fruit in fruits:
    print(idx, fruit)
    idx = idx + 1

0 사과
1 포도
2 딸기
3 키위
------------------------------
0 사과
1 포도
2 딸기
3 키위

In [ ]:
# 6. 컬렉션 자료형 특징 이용
for a, b in [(1,2),(3,4),(5,6)]:
    print(a, b)

dic = {1:'사과', 2:'포도'}
# 딕셔너리는 기본적으로 키만 가져옴
for key in dic:
    print(key)
# 벨류에 접근하려면
for key in dic:
    print(key, dic[key])
# 아이템즈를 이용하면 (item이 아니라 items여야함)
for key, value in dic.items():
    print(key, value)

# 집합은 중복된거 배제 유니크만 출력
for v in {1,2,3,3,4,5,3}:
    print(v)

1 2
3 4
5 6
1
2
1 사과
2 포도
1 사과
2 포도
1
2
3
4
5

### [실습문제] 1~N 까지 짝수 제외하고 총합 구하기

In [ ]:
n = int(input('합계할 숫자 입력: '))
hap = 0
for i in range(1, n+1):
    if i%2 == 1:
        hap = hap + i
print(f"1~{n}까지 짝수를 제외한 합은: {hap}")

합계할 숫자 입력: 10
1~10까지 짝수를 제외한 합은: 25

In [ ]:
n = int(input('합계할 숫자 입력: '))
hap = 0
for i in range(1, n+1, 2):
    hap = hap + i
print(f"1~{n}까지 짝수를 제외한 합은: {hap}")

합계할 숫자 입력: 10
1~10까지 짝수를 제외한 합은: 25

In [ ]:
n = int(input('합계할 숫자 입력: '))
hap = [i for i in range(1, n+1, 2)]
print(hap)
hap = sum( [i for i in range(1, n+1, 2)] )      # sum 합계를 구하는 함수
print(f"1~{n}까지 짝수를 제외한 합은: {hap}")

합계할 숫자 입력: 10
[1, 3, 5, 7, 9]
1~10까지 짝수를 제외한 합은: 25

### [실습문제] 정오각형 그리기


*   IDLE 에서 실행 (코랩에서 안됨)

In [ ]:
import turtle
t = turtle.Pen()        # 펜블럭

t.shape('turtle')       # 커서 모양
t.color('blue')         # 선 색상
t.pensize(5)            # 선 굵기

for i in range(5):
    t.forward(100)
    t.right(360/5)
turtle.exitonclick()

### [실습문제] 1~100 숫자를 1줄로 출력하기

In [ ]:
for i in range(1,101):
    print(i, end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [ ]:
# 공백 하나로 조인해 (join은 문자만 가능) i를 str() 스트링으로 문자로 만들어줌
print(' '.join([str(i) for i in range(1, 101)]))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

### [실습문제] 리스트 읽어서 조건문으로 학생 성적 판별하기

In [ ]:
# 방법1 --> 직접 지정
scores = [90, 25, 67, 45, 80]
print(scores)

# 방법2 --> 숫자 5개를 임의 발생
import random
scores = []
for _ in range(5):
    scores.append(random.randint(1,101))
print(scores)

# 방법3 --> 위 내용을 한줄로 표현
scores = [random.randint(1,101) for _ in range(5)]
print(scores)

# 반복문 성적 판별
for idx, score in enumerate(scores):
    if score >= 60:
        print(f"{idx+1}번 학생의 {score}점은 합격입니다.")
    else:
        print(f"{idx+1}번 학생의 {score}점은 불합격입니다.")

print('-' * 30)
# 아래와 같이 줄여서 표현 가능
for idx, score in enumerate(scores):
    result = '합격' if score >= 60 else '불합격'
    print(f"{idx+1}번 학생의 {score}점은 {result}입니다.")

[90, 25, 67, 45, 80]
[99, 1, 20, 30, 71]
[91, 67, 36, 1, 6]
1번 학생의 91점은 합격입니다.
2번 학생의 67점은 합격입니다.
3번 학생의 36점은 불합격입니다.
4번 학생의 1점은 불합격입니다.
5번 학생의 6점은 불합격입니다.
------------------------------
1번 학생의 91점은 합격입니다.
2번 학생의 67점은 합격입니다.
3번 학생의 36점은 불합격입니다.
4번 학생의 1점은 불합격입니다.
5번 학생의 6점은 불합격입니다.

### [실습문제] 소괄호 문자열

In [ ]:
''' 예
 )))()()((( =>False
 ()()()()())=>False
 ()(())()() =>True
 ))(())((=>False
 ()(()))(=>False
 ((())())=>True
'''

p_list = list(input('판별할 괄호 입력: '))

t = 0
for p in p_list:
    if p == '(':
        t += 1
    elif p == ')':
        t -= 1
    if t < 0:
        break
if t == 0:
    print('결과: True')
else:
    print('결과: False')

판별할 괄호 입력: ((())())
결과: True

## 2- 중첩 for 반복문: 반복문 안에 반복문

In [ ]:
for i in range(3):
    print(f"{i}------")
    for j in range(3):
        print(f"i:{i}, j:{j}")

0------
i:0, j:0
i:0, j:1
i:0, j:2
1------
i:1, j:0
i:1, j:1
i:1, j:2
2------
i:2, j:0
i:2, j:1
i:2, j:2

In [ ]:
p_lists = [')))()()(((', '()()()()())', '()(())()()', '))(())((', '()(()))(', '((())()']

for p_list in p_lists:
    print(f"괄호: {p_list}")
    t = 0
    for p in p_list:
        if p == '(':
            t += 1
        elif p == ')':
            t -= 1
        if t < 0:
            break
    if t == 0:
        print('- 결과: True')
    else:
        print('- 결과: False')

괄호: )))()()(((
- 결과: False
괄호: ()()()()())
- 결과: False
괄호: ()(())()()
- 결과: True
괄호: ))(())((
- 결과: False
괄호: ()(()))(
- 결과: False
괄호: ((())()
- 결과: False

## 3- while 반복문 기본형식

In [ ]:
# 조건이 참일동안 반복
a = 0
while  a < 5:
    print(f"{a}는 5보다 작군요")
    a += 1
print(f"{a}는 5와 같군요")

print('-' * 30)
# 다른 방법
a = 0
while  True:
    if a >= 5:
        break
    print(f"{a}는 5보다 작군요")
    a += 1
print(f"{a}는 5와 같군요")

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요
------------------------------
0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

### [실습문제] 나무 10번 찍기

In [ ]:
treeHit = 0
while treeHit < 10:
    treeHit += 1
    print(f"나무를 {treeHit}번 찍었습니다.")
print(f"나무가 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [ ]:
treeHit = 0
while True:
    if treeHit >= 10:
        break
    treeHit += 1
    print(f"나무를 {treeHit}번 찍었습니다")
print("나무 넘어 갔습니다.")

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어 갔습니다.

### [실습문제] 반복문 퀴즈 프로그램
by Gemini

In [3]:
questions = ["대한민국의 수도는 어디일까요?", "2+2는 몇일까요?", "세계에서 가장 높은 산은 무엇일까요?"]
answers = ["서울", "4", "에베레스트산"]

for i in range(len(questions)):
    print(f"{i + 1}. {questions[i]}")
    answer = input()
    if answer == answers[i]:
        print("정답입니다!")
    else:
        print("오답입니다. 정답은 {}입니다.".format(answers[i]))

1. 대한민국의 수도는 어디일까요?
서울
정답입니다!
2. 2+2는 몇일까요?
4
정답입니다!
3. 세계에서 가장 높은 산은 무엇일까요?
한라산
오답입니다. 정답은 에베레스트산입니다.

### [실습문제] 1000만원을 년 이자율 7%로 저금했을 경우 2000만원이 되는 데 몇 년이 걸리는지 계산하는 프로그램
by Gemini

In [4]:
# 원금
principal = 10000000

# 연 이자율
interest_rate = 0.07

# 목표 금액
target_amount = 20000000

# 필요 연수 계산
years = (target_amount - principal) / (principal * interest_rate)

# 결과 출력
print(f"1000만원을 연 이율 7%로 저금했을 경우 2000만원이 되는 데 {years}년이 걸립니다.")

1000만원을 연 이율 7%로 저금했을 경우 2000만원이 되는 데 14.285714285714283년이 걸립니다.