<a href="https://colab.research.google.com/github/harujem/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4.조건문과 반복문

---
## **★ 반복문**
---

## 1- for 반복문

### 다양한 반복문

In [22]:
# 1.range() 함수 이용: 정수를 차례로 발생시키는 함수
for 변수 in range(0,3,1):     # 0부터 3미만까지 1씩 증가 = 3번 반복
    print(변수)
for i in range(3):         # 3번 반복
    print("for문 반복중")

0
1
2
for문 반복중
for문 반복중
for문 반복중

In [23]:
# 2. 리스트 이용
a = list(range(10,0,-1))
a = list(range(1,11))
for i in a:
    print(i)            # 세로로
for i in a:
    print(i, end=',')   # 가로로

1
2
3
4
5
6
7
8
9
10
1,2,3,4,5,6,7,8,9,10,

In [24]:
# 한줄로 표현하는 방법
for i in range(1,101):
    print(i, end=',')

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [25]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [26]:
# 4. 변수 사용안하고 반복만 할때
for _ in range(3):
    print('좋은 아침!')

좋은 아침!
좋은 아침!
좋은 아침!

In [29]:
# 5. enumerate(): 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits = ['사과','포도','딸기','키위']
for idx, fruit in enumerate(fruits):
    print(idx, fruit)

print('-' * 30)
# 아래와 같은 내용을 위와 같이 줄여서 표현 가능
idx = 0
for fruit in fruits:
    print(idx, fruit)
    idx = idx + 1

0 사과
1 포도
2 딸기
3 키위
------------------------------
0 사과
1 포도
2 딸기
3 키위

In [41]:
# 6. 컬렉션 자료형 특징 이용
for a, b in [(1,2),(3,4),(5,6)]:
    print(a, b)

dic = {1:'사과', 2:'포도'}
# 딕셔너리는 기본적으로 키만 가져옴
for key in dic:
    print(key)
# 벨류에 접근하려면
for key in dic:
    print(key, dic[key])
# 아이템즈를 이용하면 (item이 아니라 items여야함)
for key, value in dic.items():
    print(key, value)

# 집합은 중복된거 배제 유니크만 출력
for v in {1,2,3,3,4,5,3}:
    print(v)

1 2
3 4
5 6
1
2
1 사과
2 포도
1 사과
2 포도
1
2
3
4
5

#### [실습문제] 1~N 까지 짝수 제외하고 총합 구하기

In [43]:
n = int(input('합계할 숫자 입력: '))
hap = 0
for i in range(1, n+1):
    if i%2 == 1:
        hap = hap + i
print(f"1~{n}까지 짝수를 제외한 합은: {hap}")

합계할 숫자 입력: 10
1~10까지 짝수를 제외한 합은: 25

In [44]:
n = int(input('합계할 숫자 입력: '))
hap = 0
for i in range(1, n+1, 2):
    hap = hap + i
print(f"1~{n}까지 짝수를 제외한 합은: {hap}")

합계할 숫자 입력: 10
1~10까지 짝수를 제외한 합은: 25

In [46]:
n = int(input('합계할 숫자 입력: '))
hap = [i for i in range(1, n+1, 2)]
print(hap)
hap = sum( [i for i in range(1, n+1, 2)] )      # sum 합계를 구하는 함수
print(f"1~{n}까지 짝수를 제외한 합은: {hap}")

합계할 숫자 입력: 10
[1, 3, 5, 7, 9]
1~10까지 짝수를 제외한 합은: 25